/* ----- gallery ----- */
#gallery
    .image-swiper
        margin-top: 50px
        margin-bottom: 20px
        width: 100%
        height: 530px

    .swiper-container
        .swiper-slide
            width: 100%
            display: flex
            justify-content: center
            align-items: center

            img
                width: 100%
                object-position: center
                object-fit: cover
                height: 100%

    .image-swiper-pagination
        position: relative
        // padding-top: 10px
        .swiper-pagination-bullet
            margin: 0 5px
            outline: none
        .swiper-pagination-bullet-active
            background-color: rgba(67, 64, 64, 0.7)

    .swiper-button
        display: flex
        margin-right: 40px

        .swiper-prev
            margin-right: 15px
        .swiper-prev, .swiper-next
            outline: none
            cursor: pointer !important
            +trans-03s

            &:hover
                svg#arrow-left, #arrow-right
                    #Ellipse_1, #Path_6
                        stroke: $color-primary

    .see-more
        p
            color: $text-gray
            line-height: inherit
        a
            font-weight: 700
            margin-right: 30px
            font-size: 1.3rem
            border-bottom: 1px solid $text-black
            line-height: 2rem
            margin-top: 8px
            +trans-03s
            +hover-red-border


/* --------- RWD ---------- */
@media (max-width: 991px)
    #gallery
        .image-swiper
            height: 450px
@media (max-width: 768px)
    #gallery
        .image-swiper
            height: 420px

@media (max-width: 576px)
    #gallery
        .image-swiper
            height: 310px

@media (max-width: 375px)
    #gallery
        .image-swiper
            height: 250px
            margin-top: 30px
            margin-bottom: 20px
