section#banner
    .container
        .row.text-red.reveal_bottom
            h1.col
                | Hi! I’m
                span  Debby.
                br
                | I’m a
                span  Web Designer &amp;  UI Designer.
        .row.banner-tag.reveal_bottom
            .col-lg-10
                ul
                    li
                        | Graphic Design
                        span LOVER

                    li
                        | Adobe Xd
                        span LOVER

                    li
                        | Figma
                        span LOVER

                    li
                        | UI Design
                        span LOVER

                    li
                        | SASS
                        span LOVER

                    li
                        | JavaScript
                        span LEARNER

                    li
                        | Git
                        span USER
