// ------------- footer begin ---------------

// footer
footer#footer
    .container
        .row
            .col-md-6.col-sm-12.reveal_bottom
                h1.text-red Let's talk!
                a.e-mail(href="mailto:info@debbyworks.com" target="_blank") info@debbyworks.com

            .col-md-6.col-sm-12.reveal_bottom
                h1 Find me on
                    span.line
                ul.d-flex
                    li
                        a(href="https://dribbble.com/debby" target="_blank") Dribbble
                    li
                        a(href="https://www.behance.net/Debbyillustration" target="_blank") Behance
                    li
                        a(href="https://www.linkedin.com/in/debbylin1991" target="_blank") LinkedIn
                    li
                        a(href="https://codepen.io/debby87059" target="_blank") Codepen
                    li
                        a(href="https://github.com/purple1007" target="_blank") GitHub

        .row
            .col
                small Copyright © 2019 Debby Lin


// js-lib

script(src='lib/jquery-3.3.1.min.js')
script(src='lib/scrollreveal.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')
script(src='lib/jquery.paroller.min.js')

// js
script(src='js/all.js')