section#gallery
    .container
        .row.justify-content-center
            .col-12.col-md-10.col-lg-9
                .title.reveal_bottom
                    h1.text-red About Me
                    p Hi! I’m Debby. I’m a web designer and a UI designer.
                    br
                    p I have more than 5 years of experience in graphic design, and 2 years of experience in website design. I like creative colors and  layout. Using colors, typography and shapes to build different layouts is fascinating to me.
                    br
                    p
                        |
                        a.text-red(href="https://dribbble.com/debby" target="_blank" rel="noopener noreferrer" data-event-category='AboutMeText' data-event-action='LearnMore' data-event-label='CheckWorks') Here
                        |  you can check out more of my works and hope you like it!
                    p If you have any question or just want to talk, welcome to contact me through <a href="#footer" class="text-red" data-event-category='AboutMeText' data-event-action='Click' data-event-label='ContactMe'>here</a> ! :)

        .row.justify-content-center.reveal_bottom
            .col-12.col-md-10.col-lg-9
                .swiper-container.image-swiper
                    .swiper-wrapper
                        - var n = 1;
                            while n < 10
                                .swiper-slide
                                    img(src='img/debby_dailyUI_design-'+ n++ +'.png', alt='Debby design | UI design')
                .swiper-pagination.image-swiper-pagination
        .row.justify-content-center.reveal_bottom
            .col-12.col-md-10.col-lg-9.d-flex.mt-5
                .swiper-button
                    .swiper-prev
                        include ../../img/arrow-left.svg

                    .swiper-next
                        include ../../img/arrow-right.svg
                .see-more
                    p See more...
                    a(href="https://dribbble.com/debby" target="_blank" rel="noopener noreferrer" data-event-category='Gellery' data-event-action='Click' data-event-label='Dribbble') Works on dribbble