// ------------- nav begin ---------------
// NAV
#top
nav#nav.navbar
  .container
    a.navbar-brand.text-red(href="#top") Debby
      .collapse.navbar-collapse#navbarNav
    ul.navbar-nav

      li.nav-item
        a.nav-link(href="https://www.instagram.com/debby.design/" target="_blank" rel="noopener noreferrer" data-event-category='Navigate' data-event-action='Instagram') Instagram
      li.nav-item
        a.nav-link(href="https://dribbble.com/debby" target="_blank" rel="noopener noreferrer" data-event-category='Navigate' data-event-action='Dribbble') Dribbble
      li.nav-item
        a.nav-link(href="#footer" data-event-category='Navigate' data-event-action='Contact') Contact
.bg-line


// ------------- nav end ---------------



// -------------- scroll top -----------------

a(href="#top").e-scroll-top TOP
