// ------------- nav begin ---------------
// NAV
#top
nav#nav.navbar
  .container
    a.navbar-brand.text-red(href="#top") Debby
      .collapse.navbar-collapse#navbarNav
    ul.navbar-nav

      li.nav-item
        a.nav-link(href="https://www.instagram.com/debby.design/" target="_blank" rel="noopener noreferrer") Instagram
      li.nav-item
        a.nav-link(href="https://dribbble.com/debby" target="_blank" rel="noopener noreferrer") Dribbble
      li.nav-item
        a.nav-link(href="#footer") Contact
.bg-line


// ------------- nav end ---------------



// -------------- scroll top -----------------

a(href="#top").e-scroll-top TOP
