// meta

meta(charset="UTF-8")
meta(name='viewport', content='width=device-width, initial-scale=1')
title Debby

//fb share
meta(property='og:url', content='https://www.debbyworks.com/')
meta(property='og:image', content='img/debbyworks-cover.jpg')
meta(property='og:title', content='Debby')
meta(property='og:description', content='Debby is a  Graphic Designer & UI Designer, She also learning front-end development now, And try to create interesting motion & design in website.')
meta(property='og:type', content='website')

//font
link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700,900i&display=swap")

link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700,900&display=swap")

// lib

link(rel='stylesheet', href='lib/bootstrap-grid.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css')

script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')


//- script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js')

script(src='lib/scrollreveal.min.js')


//css
link(rel='stylesheet', href='css/style.css')

// favicon
link(rel="shortcut icon", href="img/favicon.ico", crossorigin="anonymous" )

