// meta

meta(charset="UTF-8")
meta(name='viewport', content='width=device-width, initial-scale=1')
title Debby | Web Designer &amp; UI Designer
meta(name="keywords" content="design,ui,graphic design,daily ui,設計,平面設計,ui設計")
meta(name="description" content="Debby 是一位 UI & 平面設計師；目前從事網頁設計，喜歡設計、摸索前端語言，這裡可以看到她的近期作品以及更多資訊。")
meta(name="p:domain_verify" content="59f6a502a88ca9e237a8811141b17c16")

// structured-data
script(type='application/ld+json').
    {
      "@context": "https://schema.org",
      "@type": "CreativeWork",
      "creator": {
        "@type": "Person",
        "name": "Debby Lin"
        },
      "url": "https://www.debbyworks.com/",
      "about": "Debby is a Web Designer &amp; UI Designer, She also learning front-end development now, And try to create interesting motion &amp; design in website."
    }


//fb share
meta(property='og:url', content='https://www.debbyworks.com/')
meta(property='og:image', content='img/debbyworks-cover.jpg')
meta(property='og:title', content='Debby | Web Designer & UI Designer')
meta(property='og:description', content='Debby is a  Web Designer & UI Designer, She also learning front-end development now, And try to create interesting motion & design in website.')
meta(property='og:type', content='website')


//font
link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700,900i&display=swap")

link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700,900&display=swap")

// lib

link(rel='stylesheet', href='lib/bootstrap-grid.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css')

script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')


//css
link(rel='stylesheet', href='css/style.css')

// favicon
link(rel="shortcut icon", href="img/favicon.ico", crossorigin="anonymous" )

// GA
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-71294699-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-71294699-1');

//


