section#project
    .container
        .row
            .col-lg-8.offset-lg-4.reveal_bottom
                .title
                    h1.text-red What I Working on
                    p 我喜歡在工作之餘選一個主題，嘗試新的設計或是有趣的網頁前端技術。
        .row
            .col-md-6.col-12.reveal_bottom
                figure
                    .cover(style="background-image: url('img/cover-1.jpg')")
                    .row
                        .col-lg-6.col-md-12.project-name
                            h3.text-red Bread 網站開發
                            p
                                | View
                                a(href="https://purple1007.github.io/bread/" target="_blank") Demo
                        .col-lg-6.col-md-12
                            p
                                | JavaScript / jQuery / CSS / HTML
                                br
                                | 開發重點：
                            ul
                                li 使用 Sass
                                li 使用 jQuery 其它套件
                                li RWD 練習
                                li 不規則背景 及 Section 設計​


            .col-md-6.col-12.reveal_bottom
                 figure
                    .cover(style="background-image: url('img/cover-2.jpg')")
                    .row
                        .col-lg-6.col-md-12.project-name
                            h3.text-red Daily UI
                            p
                                | View
                                a(href="http://dailydesignfromdebby.tumblr.com/" target="_blank") More
                        .col-lg-6.col-md-12
                            p 這一系列目前還正在進行的設計，盡量讓自己嘗試多方面的設計、元素，既然工作上太多限制，不如就在這上面自由一點。去定義自己覺得有趣、好看的設計吧！