<!DOCTYPE html>
html(lang="en")
    head
        include partial/_meta.pug
    body
        // nav
        include partial/_header.pug

        include partial/_banner.pug
        include partial/_gallery.pug
        //- include partial/_project.pug

        // footer
        include partial/_footer.pug
