<!DOCTYPE html>
html(lang="en")
    head
        include partial/_meta.pug
    body
        include partial/_header.pug

        block content

        include partial/_footer.pug

        block page_js
            // 單頁 js 效果
